/* app css stylesheet */

form {
    margin-bottom:20px;

}

.plate {
    table {
        border-spacing: 1px;
        border-collapse: separate;
    }

    .header {
        font-weight: bold;
        min-width: 20px;
        text-align: center;
        font-size: 20px;
    }

    .well-cell {
        $width: 52px;
        display: inline-block;
        border-radius: 100%;
        border: 2px solid black;
        width: $width;
        height: $width;
        cursor: pointer;
        &.selected {
            border-color: red;
        }

        .reaction-time {
            border-radius: 100%;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-top: 4px;
            margin-left: 24px;
            text-align: center;
            background: white;
        }
    }

}