<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PacificBioSciences</title>
  <meta name="description" content="96-Well PCR Plate">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="app.css">
</head>
<body ng-app="myApp">

  <div class="container" ng-controller="PlateController">
    <h1>96-Well PCR Plate</h1>

    <div class="row">
      <div class="col col-md-4">
        <!-- Form to set a well -->
        <form class="well-association" name="wellForm">
          <div class="form-group">

            <!-- Location of the plate to edit -->
            <label>Location</label>
            <div class="row">
              <div class="col-xs-6">
                <select class="form-control" name="letter"
                        ng-model="editedWell.letter"
                        ng-options="letter for letter in form.letters">
                </select>
              </div>
              <div class="col-xs-6">
                <select class="form-control" name="column"
                        ng-model="editedWell.column"
                        ng-options="column for column in form.columns">
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Reaction time (minutes)</label>
            <input name="time" class="form-control" type="number"
                   min="{{form.time.min}}" max="{{form.time.max}}"
                   ng-model="editedWell.time"
                   ng-model-options="{allowInvalid: true}"
            />
            <div ng-messages="wellForm.time.$error" role="alert" class="text-danger">
              <div ng-message="min">Time must be at least 5 minutes</div>
              <div ng-message="max">Time must be maximum 90 minutes</div>
            </div>
          </div>
          <div class="form-group">
            <label>Sample name</label>
            <input class="form-control" type="text"
                   maxlength="{{form.name.max}}"
                   ng-model="editedWell.name"
                   ng-model-options="{allowInvalid: true}"
            />
            <div ng-messages="wellForm.time.$error" role="alert">
              <div ng-message="maxlength">Sample name must be maximum 64 characters</div>
            </div>
          </div>
          <a class="btn btn-default" href="#"
             ng-disabled="wellForm.$invalid"
             ng-click="wellForm.$valid && setWell()"
             role="button">Save</a>
          <a class="btn btn-warning" href="#" ng-click="clearWell()" role="button">Clear</a>
        </form>
      </div>

      <div class="plate col col-md-8">
        <!-- Display of the plate -->
        <table>
          <thead>
            <td></td>
            <td ng-repeat="c in form.columns" ng-bind="c" class="header"></td>
          </thead>
          <tr ng-repeat="(letter,columns) in plate">
            <td ng-bind="letter" class="header"></td>
            <td ng-repeat="(index,well) in columns">
              <span class="well-cell"
                    ng-click="getWell(well)"
                    ng-class="{selected: well.selected}"
                    ng-style="{'background-color': getColor(well)}">
                <span class="reaction-time" ng-bind="well.time"></span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="app.js"></script>
  <script src="components/helpers/color-manager-provider.js"></script>
  <script src="components/plate/plate-controller.js"></script>

</body>
</html>
